accelerate            
diffusers             
distro                
docx2pdf              
easyocr               
ffmpeg                
googlesearch-python   
httpx                 
jiter                 
librosa               
mammoth               
Markdown              
moviepy
openai                
openai-whisper        
openpyxl             
pdf2docx             
pdf2image            
PyAudio              
pydantic             
pydub                
PyPDF2               
pytesseract          
python-docx-replace  
python-pptx          
seaborn              
serpapi              
sounddevice          
streamlit_mic_recorder
streamlit-webrtc     
transformers         
wheel                
